nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color:#ffffff;
}
nav .Adventour {
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: whitesmoke;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;
}
nav .Adventour1 {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .Adventour1 li {
	list-style: none;
}
nav .Adventour1 a {
	display: block;
	padding: 1em;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
    text-decoration: none;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;
	margin-right: 20px;
}
nav .Adventour1 a:hover{
color: #fff;
    background: #00B4D8;
   border-radius: 50px 40px 40px 50px;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: black;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .Adventour1 {
		float: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		background-color: rgba(26, 131, 145, 0.8);
		overflow: hidden;
		transition: 0.8s ;
    }
    nav .Adventour1 a:hover{
        background: #00B4D8;
       border-radius: 50px 40px 40px 50px;
			 color:#ffffff;
    }
	nav .Adventour1 a {
		font-size: 20px;
	}
	nav :checked ~ .Adventour1 {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
}
/* ///////////////////////////////////////// */
.sec1{

    width: 100%;
    height: 600px;
}
.sec2{
margin-top: 90px;
width: 100%;
height: 600px;
}
img{
    margin-top: 90px;
    width: 101%;
    height: 650px;
}
i{
   color: #29d3f5 ;
   font-size: 30px;
}
/* /////////////////////////////////////////////////////// */
.our-goals{
    background: #fff;
    text-align: center;
  }
  .our-goals{
    display: inline-block;
    width: 75%;
    padding: 20px;
    transition: 0.4s;
	border-radius:50%;
  }
	.our-goalsM{
		display: inline-block;
		width: 100%;
		padding: 20px;
		transition: 0.4s;
		background: #fff;
		text-align: center;
		font-family: "Sagona Book";
	}
  .our-goals h2{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  .our-goals p{
    color: black;
    font-size: 20px;
  }
  .our-goals i{
	margin-bottom: 30px;
    color: #3498db;
	font-size: 36px;
  }
    our-goals:hover{
    background: #CAF0F8 ;
  }
  .our-goals h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 12px solid #3498db;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
  }
  #img-logo{
	width: 130px;
	height: 90px;
	margin-top: 2px;
	margin-right: 10px;
	padding: 12px;
  }
  img {
	max-width: 100%;
  }
  /* .......... */
